<main>
    <article>
        <h1>LEAD ACTRESSES</h1>

        <!-- remember, this is a semantic-free container
             that will only be instantiated if the conditional
             or loop it describes returns something -->
        <ng-container *ngFor="let leadActress of leadActresses; let i = index">

            <app-lead-actress [leadActress]="leadActress"
                              [active]="activeLeadActressIds.includes(leadActress.leadActressId)"
                              [index]="i" 
                              [lastIndex]="leadActresses.length - 1"
                              (moveLeadActressEvent)="moveLeadActress($event, i)"
                              (updateLeadActressEvent)="switchToUpdate($event)"></app-lead-actress>

        </ng-container>

    </article>

    <aside>

        <form #form>
            <h2 *ngIf="leadActressId === 0">ADD NEW LEAD ACTRESS</h2>
            <h2 *ngIf="leadActressId !== 0">UPDATE LEAD ACTRESS (ID: {{ leadActressId }})</h2>

            <label for="name">Name</label>
            <input type="text" id="name" name="name" [(ngModel)]="name">
            <label for="age">Age</label>
            <input type="number" id="age" name="age" [(ngModel)]="age">
            <label for="academyAwards">Academy Awards Won</label>
            <input type="number" id="academyAwards" name="academyAwards" [(ngModel)]="academyAwards">
            <label for="imageUrl">Image URL</label>
            <input type="text" id="imageUrl" name="imageUrl" [(ngModel)]="imageUrl">
            <label for="imdbUrl">IMDB URL</label>
            <input type="text" id="imdbUrl" name="imdbUrl" [(ngModel)]="imdbUrl">

            <button *ngIf="leadActressId === 0"
                    (click)="addLeadActress(); form.reset();"
                    [disabled]="name === '' 
                             || age <= 0 
                             || academyAwards < 0 
                             || imageUrl === '' 
                             || imdbUrl === ''">ADD</button>

            <button *ngIf="leadActressId !== 0"
                    (click)="updateLeadActress(); form.reset();"
                    [disabled]="name === '' 
                            || age <= 0 
                            || academyAwards < 0 
                            || imageUrl === '' 
                            || imdbUrl === ''">UPDATE</button>
         
            <button *ngIf="leadActressId !== 0" (click)="cancelUpdate()">CANCEL</button>
        </form>
        
    </aside>
</main>