<main>
    <article>
        <h1>LEAD ACTRESSES</h1>

        <!-- remember, this is a semantic-free container
             that will only be instantiated if the conditional
             or loop it describes returns something -->
        <ng-container *ngFor="let leadActress of leadActresses; let i = index">

            <app-lead-actress [leadActress]="leadActress"
                              [active]="activeLeadActressIds.includes(leadActress.leadActressId)"
                              [index]="i" 
                              [lastIndex]="leadActresses.length - 1"
                              (moveLeadActressEvent)="moveLeadActress($event, i)"></app-lead-actress>

        </ng-container>

    </article>

    <aside>
        
    </aside>
</main>